@font-face {
  src: url('fonts/georgia/georgia bold italic.ttf');
  font-family:'georgia bold italic ';
}
@font-face {
  src: url('fonts/georgia/georgia bold.ttf');
  font-family:'georgia bold' ;
}
@font-face {
  src: url('fonts/georgia/Georgia Regular font.ttf');
  font-family:'Georgia Regular' ;
}
@font-face {
  src: url('fonts/georgia/GEORGIA4.TTF');
  font-family:'GEORGIA4' ;
}







.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1000;
  margin-top: 5px;
}
.sticky + .carousel_section {
  padding-top: 60px;
}
/*  slicknav plugin */
.slicknav_menu{
  display:none ;
}
.material-scrolltop.reveal{
  z-index: +2;
}
.slicknav_menu ul{
  float: right;
  text-transform: capitalize;
}
.section_padding{
  padding: 55px 0px;
}
body{
  cursor: url("images/cursor/pointer.png") , auto;
  font-family:'Georgia Regular' ;
}

/***********************************************************
************************************************************
                        Social Icon Start
************************************************************
***********************************************************/
.social_icon{
  position: fixed;
  width: 35px;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
}
.social_icon ul{
  margin: 0px;
  padding: 0px;
}
.social_icon ul li{
  list-style: none;
}
.social_icon ul li a i{
  height: 35px;
  width: 35px;
  text-align: center;
  padding: 10px;
  background: #D248E6;
  color: #FFF;
}
.social_icon ul li a i:hover{
    width: 120px;
    transition: .3s;
}
.social_icon ul li:nth-child(1) i{
    border-top-right-radius: 10px;
}
.social_icon ul li:nth-child(2) i{
    background: green;
}
.social_icon ul li:nth-child(3) i{
    background: pink;
}
.social_icon ul li:nth-child(4) i{
    background: gold;
    border-bottom-right-radius: 10px;
}
.social_icon ul li:nth-child(1) i:hover{
    color:blue;
    background:#ff00c0;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px 1px gray;
}
.social_icon ul li:nth-child(2) i:hover{
   background:#174e95;
   color: #f957e7;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 0px 5px 1px gray;
}
.social_icon ul li:nth-child(3) i:hover{
   background:#174e95;
   color: #f957e7;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   box-shadow: 0px 0px 5px 1px gray;
}
.social_icon ul li:nth-child(4) i:hover{
    color:#ff26a0;
    background:#00dbff;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 5px 1px gray;
}

/***********************************************************
************************************************************
                        header Icon Start
************************************************************
***********************************************************/
/*
nel color: #498EE6;
beguni color:#D248E6;
*/

.box1{
  height: 10px;
  width: 100%;
  background-color: #D248E6;
}
header{
/*   background: #fff; */
  color: #498EE6;
  margin-bottom: 20px;
}
.form_serch{

}
.form_serch input{
  border-radius:15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  position: relative;
  background-color: #498EE6;
  border-top: none;
}
.form_serch i{
  position: absolute;
  top: 4px;
  right: 24px;
  background: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  color: #498EE6;
}
.logo{
  cursor: pointer;
}
.logo a{
  text-decoration: none;
}
.logo a:hover{
  color: #D248E6;
}
.logo  h2{
  font-size:25px;
  margin:0px;
  color:#D248E6;
  animation: animate 5s ease-in-out infinite;
  display: inline-block;

}
@keyframes animate {
  0%,100%
  {
    transform: translateY(0px);
  }
  50%
  {
    transform: translateY(-20px);
  }
}
.logo  h2 span{
  font-size: 40px;
}
.logo a h6{
  font-size: 13px;
  margin-left: 5px;
  opacity: .8;
  margin: 0px;
}
/* header nav{
  display: inline-block;
  float: right;
  margin-top: 0px;
  position: fixed;
  right: 9%;
  z-index: +2;
} */
header nav ul{

}
header nav ul li{
  position: relative;
}
header nav ul li a{
  text-transform: capitalize;
  background: white;
  margin-left: 10px;
  padding: 5px !important;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;

  box-shadow: 0px 0px 8px #D248E6;
  padding: 0px 6px !important;
  font-size: 14px;
  border-radius: 15px;
  transition: .3s;
  margin-bottom: 20px;
}
header nav ul li a:hover{
  color: #D248E6;
  border-right: 5px solid #D248E6;
  border-left: 5px solid #D248E6;
}
nav .active{
  color: #D248E6;
  border-right: 5px solid #D248E6;
  border-left: 5px solid #D248E6;
}


/* sub nav it */
.sub_nav{
  position: absolute;
  top: 55px;
  left: 999999px;
}
.sub_nav ul{
}
.sub_nav ul li{
  list-style: none;
  width: 130px;
}
.sub_nav ul li a{
  border-radius: 0px;
  box-shadow: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  width: 100%;
}
header nav ul li:hover .sub_nav {
  left: -35px;
  z-index: +2;
} 


/* sub nav it */
.sub_nav:before{
content: '';
  position: absolute;
  top: -20px;
  left: 33%;
  z-index: 5;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #eee;
}
.sub_nav ul li{
  position: relative;
  &:hover .sub_nav2{
      left: -170px;
  }
  a{
    margin-bottom: 0px;
    background: #eee;
    position: relative;
  }
}
.sub_nav2{
  position: absolute;
  top: 0px;
  left: 999999px;
}



/* for border line animation */
.sub_nav_hvr , .sub_nav_hvr2{
  height: 2px;
  width: 0%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;transition: width .3s linear .3s, background .4s ease-in-out .0s;
}
.sub_nav_hvr2{
  height: 2px;
  width: 0%;
  position: absolute;
  top: auto;
  bottom: 0px;
}
.sub_nav ul li:hover .sub_nav_hvr,
.sub_nav ul li:hover .sub_nav_hvr2,
.sub_nav ul li.active .sub_nav_hvr,
.sub_nav ul li.active .sub_nav_hvr2{
  width: 100%;
  background: #D248E6;
}





/***********************************************************
************************************************************
                        Carousel section Start
************************************************************
***********************************************************/
.carousel_section{
  background: white;
  border-top: 2px solid #D248E6;
  border-bottom: 2px solid #D248E6;
}
.carousel_section{
  
}
.carousel_section img{
  width: 100%;
  height: 600px;
}
#carousel_caption{
  width: 40%;
  left: auto;
  background: #ffc0cb3d;
  right: 0px;
  bottom: 0px;
  padding: 15px 25px;
  opacity: .8;
  border-top-left-radius: 10px;
  text-align: left;
  font-family:'GEORGIA4' ;
}

.carousel_section .arrow_icon {
  width: 50px;
  height: 50px;
  background: linear-gradient(lime,#FF0086);
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 10px 2px white;
}
.arrow_icon span{
  margin: 13px;
}
.carousel_section a:hover{
  transform: scale(1.2,1.2);
  transition: .3s;
}
.carousel_section ul{
  right: auto;
  margin: 0px 0px 30px 75px;
}
.carousel_section ul li{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: #fff;
}
.carousel-indicators .active {
  opacity: 1;
  border: 2px solid white;
  background:  transparent;
  box-shadow: 0px 0px 5px white;
}
/***********************************************************
************************************************************
                        Service section Start
************************************************************
***********************************************************/
.service_section{
  background: white;
}
.service_icon{

}
.service_icon i{
  font-size: 40px;
  color:#D248E6;
  transition:.5s;
}
#service_icon i:first-child{
  transform: rotate(90deg);
}
.service_icon i:hover{
  transform: rotate(5760deg);
  color: blue;
}
.service_discription{
  text-align: justify;
}
.service_discription h3{
  color:#D248E6 !important;
  font-size: 25px;
  text-transform: capitalize;
}
.service_discription p{
  color:#666666;
  opacity: .8;
  margin-top: 23px;
  font-size: 13px;
}
/***********************************************************
************************************************************
                        Team section Start
************************************************************
***********************************************************/
.team_section{
  background: #D9D9D7;
}
.team_box{
  box-shadow: 5px 5px 5px 5px #787579;
  text-align: center;
  border-radius: 15px;
  margin: 30px auto;
  background: #fff;
  padding: 15px;
}
.team_box img{
  box-shadow: 0px 0px 5px 2px gray;
  border-radius: 15px;
  transition: .3Ss;
}
.team_box img:hover{
  filter: grayscale(100%);
  opacity: 80%;
}
.team_box h3{
  text-transform: uppercase;
  margin: 15px auto;
  color:#D248E6 !important;
  font-size: 20px;
}
.team_box p{
  color:#666666;
  opacity: .8;
  font-size: 13px;
}
.team_icon i{
  height: 35px;
  width: 35px;
  background:#D248E6;
  padding: 9px;
  border-radius: 50%;
  color: #fff;
  margin: 2px;
}
.team_icon i:hover{
  background:#fff;
  color: #D248E6;
  box-shadow: 0px 0px 5px gray;
}

/***********************************************************
************************************************************
                        default section Start
************************************************************
***********************************************************/
.default_section{
  background-image: url('images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.default_top{
  
}
.default_top h2{
  text-transform: uppercase;
  margin: 20px auto;
}
.default_content{
  
}
.default_content p{
  text-align: justify;
  opacity: .7;
}
.default_video{
  margin-top: 70px;
  margin-bottom:10px;
}
.default_video video{
  box-shadow: 0px 0px 16px 10px white;
  border-radius: 41px;
  border: 10px solid #bdbdbd;
  padding: 5px;
  background: black;
}

/** Without bootstap modal **/
.default_box1{
  background-image: url('images/portfolio1.jpg');
}
.default_box2{
  background-image: url('images/portfolio2.jpg');
}
.default_box3{
  background-image: url('images/portfolio3.jpg');
}
.default_box4{
  background-image: url('images/portfolio4.jpg');
}
.default_box i{
  margin-top: 40%;
  font-size: 24px;
  color: white;
}
.default_box{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 230px;
  margin-bottom: 30px;
  text-align: center;
  &:hover .default_box_hover{
    display: block;
  }
}
.default_box_hover{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: none;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: .5;
      left: 0px;
      top: 0px;
      background: #000;
      z-index: -1;
  }
}
/** END Without bootstap modal **/

.default_video .box{
  width: ;
  height: auto;
  border-top: 0px solid transparent;
  border-bottom: 50px solid #BDBDBD;

  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-radius: 30px;
  box-shadow: 0px -35px 10px 9px pink;
}




/***********************************************************
************************************************************
                        Footer section Start
************************************************************
***********************************************************/
/* csss animation pracite */
footer .box{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 2px #ff6060,-2px -2px 5px 2px #6bceff;
  margin:20px auto;
  animation: changeBG 5s linear 2s infinite alternate forwards;
  /* animation-name: changeBG;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards; */
  transition: .3s;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover{
    animation: none;
  }
}

/* @keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
} */
@keyframes changeBG {
  0% {
    background: white;
    transform: scale(1) translate(0px, -200px);
  }
  12.5% {
    background: pink;
    transform: scale(1) translate(600px, -200px);
  }
  25% {
    background: yellow;
    transform: scale(1) translate(600px, -25px);
  }
  37.5% {
    background: green;
    transform: scale(1) translate(600px, 148px);
  }
  50% {
    background: orange;
    transform: scale(1) translate(-0px, 148px);
  }
  62.5% {
    background: violet;
    transform: scale(1) translate(-650px, 148px);
  }
  75% {
    background: red;
    transform: scale(1.0) translate(-650px, -25px);
  }
  87.5% {
    background: blue;
    transform: scale(1) translate(-650px, -200px);
  }
  100% {
    background: gray;
    transform: scale(1.0) translate(0px, -200px);
  }
}
/* animation section end */






footer{
  background: white;
  font-family:'Georgia Regular' ;
  text-align: justify;
  position: relative;
}
.footer_box h5{
  color: #D248E6;
  margin-bottom: 35px;
}
.footer_box p,.footer_box address{
  color: #666666;
  opacity: .8;
}
.footer_box1{

}
.footer_box2 ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer_box2 ul li{
  border: 1px solid transparent;
  border-bottom: 1px solid #D248E6;
  padding: 2px;
  border-top: none;
}
.footer_box2 ul li:hover{
    color:#D248E6;
    border:1px solid #D248E6;
    border-right: 5px solid #D248E6;
    border-top: none;
}
.footer_box2 ul li:nth-child(1){
    border-top: 1px solid transparent;
}
.footer_box2 ul li:nth-child(1):hover{
    border-top: 1px solid #D248E6;
}
.footer_box2 ul li a{
  color:#D248E6 ;
  text-decoration: none;
}
.footer_box2 ul li a:hover{
  color:#0069D9;
}
.footer_box3 h6{
    color: #771c9d;
    font-style: italic;
    font-weight: bold;
}
.footer_box3 a{
    float: right;
    color: #D260EE;
    text-decoration: none;
}
.footer_box3 a:hover{
    color: #0069D9;
}
.footer_box4 label{
  color: #D248E6;
}
/*
form input[type="submit"]{
    background: #D248E6;
    color: white;
    transition: .3s;
    font-weight: bold;
}
form input[type="submit"]:hover{
    background: #881399;
    color: white;
}
*/
.footer_box4 input:focus{
    box-shadow: 0 0 0 .2rem #D248E678;
}
.footer_box4 button{
  background: #D248E6;
    color: white;
    transition: .3s;
    font-weight: bold;
    width: 100%;
}
.footer_box4 button:hover{
  background: #881399;
    color: white;
}

/***********************************************************
************************************************************
                        end section Start
************************************************************
***********************************************************/
.end_section{
    background: #fd4265;
    height: 70px;
}
.end_para{
    width: 100%;
}
.end_para p{
    color:white;
    font-size: 15px;
    margin-top: 24px;
}
.end_para1{
    float: left;
}
.end_para2{
    float: right;
}
/*end section end*/


.material-scrolltop:focus{
    outline: none;
}
.material-scrolltop i{
    color:white;
}

/***********************************************************
************************************************************
                        overlay section Start
************************************************************
***********************************************************/
.overlay_section_justify{
  justify-content: space-around;
}
.overlay_section{
    padding: 80px 0px;
    color: #1f373d;
    font-size: 14px;
    line-height: 30px;
    background: #E8E8E8;
    text-transform: capitalize;
    text-align: justify;
}
.overlay_section h1{
      font-size: 40px;
      margin-bottom: 50px;
      box-shadow: 6px 6px 12px #c5c5c5,-6px -6px 12px #fff;
      display: inline-block;
      padding: 15px 40px;
      margin-left: 2%;
      border-radius: 30px;

}
.overlay_contant_box{
    width: calc(36% - 60px);
  margin: 5px;
  padding: 20px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 6px 6px 12px #c5c5c5,-6px -6px 12px #fff;
}
.overlay_contant_box img{
    width: 100%;
    display: block;
    width: 100%;
  display: block;
  box-shadow: 6px 6px 12px #585858,-6px -6px 12px #a9c3ff;
  border-radius: 20px;
  transition: 2s;
}
.oc_box_img{
    position: relative;

    &:hover .oc_box_img_overlay{
    transform: translateX(0%);
    }
    &:hover img{
        transform: scale(1.10);
    }
}
.oc_box_img_overlay{
    position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background: #ffffff96;
        transform: translateX(120%);
        border-radius: 20px;
        transition: .4s;
}
.oc_box_img_overlay i{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: black;
}
.overlay_contant_box h2{
    margin: 20px 0px;
}
.overlay_contant_box p{
    padding: 10px;
}
.overlay_contant_box a{
    text-decoration: none;
  background: #FFCC01;
  padding: 2px 15px;
  color: white;
  float: right;
  border-radius: 15px;
  box-shadow: 3px 3px 6px #868686,-3px -3px 6px #ff8383;
  transition: .4s;
}
.overlay_contant_box a:hover{
  background: #E4B601;
  box-shadow: 3px 3px 6px #ff8383,-3px -3px 6px #868686;
  color: #000;
}







/***********************************************************
************************************************************
                        jquery section Start
************************************************************
***********************************************************/
.jquery_section{
  background: #fd4265;
  color: #fff;
  overflow: hidden;
  padding: 100px 0px;
/*  background-image: url('images/bg2.jpg');
  background-position: center;
  background-size: cover; */
}
/*  parallax at fist link, div add, js add,then this  */
.parallax-window {
  min-height: 400px;
  background: transparent;
}
.jquery_section h2{
  text-transform: uppercase;
  font-weight:  900;
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  position: relative;
  color: #fff;
  animation-delay: 600ms; /* for wow js */
  &:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background: #45B2EC;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: rgba(255, 255, 255, 0.25);
    z-index: -1;
  }
}
.jquery_box{
  height: auto;
  width: 100%;
  margin: 30px auto;
  box-shadow: 0px 0px 24px 2px white;
  padding: 22px;
  border-radius: 5px;
  text-align: center;
}
.jquery_box h3{
  background: #fd4265;
  color: #FFF;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.jquery_box1 p{
  padding: 5px;
  text-align: justify;
}
.jquery_box2_photo{
  background-image: url('images/team1.jpg');
  background-position: center;
  background-size: cover;
  width: auto;
  height: 265px;
}
.jquery_box2_pho{
  display: none;
}
.circle1{
  float: left;
}

/***********************************************************
************************************************************
                        owl-carousel_section Start
************************************************************
***********************************************************/
.owl_carousel_section{
/*   width: 100%;
  height: auto; */
}
.owl_carousel_section img{
  width: 100%;
  height: auto;
}
.owl-nav .owl-prev{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translate(-50%, -50%);
  background: #FD4265 !important;
  border-radius: 50%;
  color: #fff !important;
  text-align: center;
  border: 2px solid white !important;
  box-shadow: 0px 0px 5px 2px white;
}
.owl-nav .owl-next{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translate(-50%);
  background: #FD4265 !important;
  border-radius: 50%;
  color: #fff !important;
  text-align: center;
  border: 2px solid white !important;
  box-shadow: 0px 0px 5px 2px white;
}
.owl-nav i{
  font-size: 35px;
}
.owl-nav button:focus{
  outline: none;
}
.owl-dots{
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.owl-dots button{
  width: 25px;
  height: 25px;
  background: transparent !important;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid #fff !important;
  box-shadow: 0px 0px 5px 2px #FD4265;
}
.owl-dots .active{
  background: #FD4265 !important;
}

/***********************************************************
************************************************************
                        other section Start
************************************************************
***********************************************************/
#map{
  width:100%;
  height:450px; 
  border:0;
  display: block;
  /* allowfullscreen: ;
  loading:lazy;
  referrerpolicy:no-referrer-when-downgrade; */
}




.other_section{
  background: linear-gradient(to top,#ff3b5e 10%,#F1F3F4 );
}
.other_section img{
  width: 100%;
  margin-top: 10px;
}
.other_section1 {
  text-align: center;
  overflow: hidden;
  padding: 10px 0px;
  background: linear-gradient(to right,blue,green,yellow,red,orange,pink,purple);
}
.other_section1 h4 {
  margin: 0px;
  color: white;
  cursor: no-drop;
  display: inline-block;
  font-size: 16px;
}







/*************                                 *************
**************                                 *************
**************          jquery  page Start     *************
**************                                 *************
**************                                 ************/
/* add section start */
.add{
  width: 555px;
  position: fixed;
  top: 50px;
  right: 0px;
}

.add img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 6px 6px 12px #828282,-6px -6px 12px #e8e8e8;
}
.add a{
  color: white;
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  top: 11px;
  right: 11px;
  display: none;
}
.add:hover a{
  display: block;
}















